// FONT
.font-hanaleiFill { 
    font-family: 'Hanalei Fill', cursive;
}

.font-lora {    
    font-family: 'Lora', serif;
}

.font-luckiestguy {
    font-family: 'Luckiest Guy', cursive;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-opensans {
    font-family: 'Open Sans', sans-serif;
}

.font-pacifico {
    font-family: 'Pacifico', cursive;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-robotto {
    font-family: 'Roboto', sans-serif;
}

.font-sacramento {
    font-family: 'Sacramento', cursive;
}

.font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}